/* Modifica estas líneas en tu App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Quitamos overflow: hidden de aquí para que no sea tan estricto */
  background-color: black;
  color: white;
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  /* El scroll se manejará dentro de cada página individualmente */
}

/* Estilo para el scrollbar global (opcional, para que siempre sea rojo) */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #450a0a;
}